################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureFuncPlayground/.vs/AzureFuncPlayground/FileContentIndex
/AzureFuncPlayground/.vs/AzureFuncPlayground/v17
